*{              
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fuzzy Bubbles', cursive;
}

.mart-name{
    margin: 5px;
    color: #2a2a2a;
    font-size: 25px;
    font-weight: 700;
}

nav{
    background: #f2de7a;
    width: 100%;
    padding: 10px 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border: 2px solid black;
}
.logo{
    width: 15%;
    min-width: 140px;
    height: auto;
    mix-blend-mode: multiply;
    
}
.circle{
    max-width: 50px;
    width: auto;
    max-height: 50px;
    height: auto;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    overflow: hidden;
}
.user-pic{
    /* width: 40px;
    border-radius: 50%;
    margin-left: 30px; */
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
nav ul{
    width: 100%;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
}
.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 3%;
    width: 320px;
    max-height:0px;
    overflow: hidden;
    transition: max-height ;
}
.sub-menu-wrap.open-menu{
    max-height: 400px;
    overflow: visible;
}
.sub-menu{
    background: #fff;
    padding: 20px;
    margin:10px;
    border-radius: 15px;
    box-shadow:  0 0 50px #828282;
    border: 1px solid #303030;
}
.user-info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.user-info h3{
    font-weight: 500;
}
.user-info img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-right: 15px;
}
.sub-menu hr{
    border: 0;
    height: 2px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}
.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}
.sub-menu-link p{
    width: 100%;
}
.sub-menu-link img{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px ;
}
.sub-menu-link span{
    font-size: 20px;
    transition: transform 0.5s;
}
.sub-menu-link:hover span{
    transform: translate(5px);
}
.sub-menu-link p:hover{
    font-weight: 600;
}
#logo{
    cursor: pointer;
}


/* add your css here */

body{
background-color: rgba(213, 5, 5, 0.78);
}      
.close-alignment{
display: flex;
justify-content: flex-end;
}
.btn-close{
background-color: transparent;
margin-right: 33px;
padding: 1px;
font-size: 70px;
border: none;
height:80px;
width: 80px;
border-radius: 10px;
text-decoration: none;
}  
.btn-close:hover {
background-color: hsl(0, 5%, 82%);
color: hsl(0, 0%, 4%);
cursor: pointer;
}
.box{
display: flex;
width: 100%;
height: auto;
justify-content: center;
flex-wrap: wrap;
}

.table-me{
width: 100%;
text-align: center;
max-width: 1174px;
margin: 10px;
}

table, th, td {
font-size: 20px;
border: 3px solid rgba(213, 5, 5, 0.78);
border-collapse: collapse;
}
th, td {
padding: 15px;
background-color: #ffffff;
text-align: center;
}
.delete-opt:hover{
cursor: pointer;
}